.row1{
    background-color: #e0e0e0;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
}

.row1 img{
    width: 200px;
    height: 200px;
}

.row1 .app-info{
    margin-left: 15px;
}

.row1 .app-info{
    margin-left: 15px;
}

.row1 .app-info a{
    text-decoration: none;
}

.row1 .app-info a .download-button{
    margin-top: 30px;
    padding: 20px;
    background-color: #01a0ac;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.row1 .app-info a .download-button:hover{
    background-color: #047e86;
}

.row2{
    padding: 30px;
    display: block;
}

/* .row2 p{
} */

.screenshort{
    display: flex;
    margin: 20px 0;
    overflow-x: scroll;

}

.screenshort::-webkit-scrollbar{
    width: 0;
}

.screenshort-item{
    margin: 0 5px;
}


img{
    height: 300px;
    margin: 0 2px;
}